body {
  color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
    }
  }
}

.card-body {
  background-color: rgb(247, 63, 17);
  .latest_review {
    color: #fff;
  }
}

.meet {
  color: #fff;
  span {
    margin-right: 0.5em;
  }
}

.shops {
  background-color: #fff;
  .shop {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.reviews {
  background-color: #fff;
  .review {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
        width: 250px;
      }
    }
  }
}

.ranks {
  background-color: #fff;
  .shop {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.users {
  background-color: #fff;
  // height: 20vh;
  .shop {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.head-title {
  margin-right: 1em;
}

.top-contents div {
    width: 4.7em;
}

.headline {
  width: 3.7em;
}

.left-contents {
  img {
    width: 10vw;
    min-width: 5em;
  }
}

.links img {
  width: 2em;
}

.bottom-contents {
  background-color: #fff;
}

.shares img {
  width: 2em;
}

.histories span {
  margin: 0 0.3em;
}

.addresses span {
  margin-right: 0.1em;
}

.info-details span {
  margin-right: 1em;
}
